:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* hack para box model */
    /*scroll-snap-type: y mandatory; /* para el scroll de arriba hacia abajo */
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1 rem = 10px */
}

nav {
    font-family: 'Josefin Sans';
    font-weight: 700;
   
}

main {
    font-family: 'Josefin Sans';
}


@media (min-width: 990px) {
    .nav-principal{
        height: 6rem;
    }
}

nav ul li {
    white-space: nowrap; /* No permitir que el texto se divida en varias líneas */
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-principal a:hover {
    color: var(--blanco)
}

.nav-principal a {
    color: var(--gris);
}

ul {
    flex-direction: row;
    /* coloca los elementos en una sola linea de manera horizontal uno despues del otro */
    justify-content: space-between;
    /*mover contenido horizontalmente en este caso se movieron hacia el centro con un espaiciado uniforme*/
}

.nav-principal{
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
}

/* Estilo para el contenedor del logo */
.nav-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para la imagen de fondo */
.nav-logo::before {
    content: "";
    background-image: url('../img/Logo-blanco-sin-fondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 9rem; /* Ajusta el ancho según tus necesidades */
    height: 9rem; /* Ajusta la altura según tus necesidades */
    display: block;
}


.contenido-header {
    position: relative;
    display: inline-block;
}

.contenido-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.contenido-header img {
    display: block;
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */
    /*margin: 0 auto 0 auto;
    */
    margin: 0 auto; /*crece hacia afuera del elemento */
}

.centrar{
    width: 50%; /* Define un ancho */
    margin: 4rem auto; /* Centra horizontalmente */
}